parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Joomla\\Http\\Response\:\:\$body\.$#'
			identifier: property.notFound
			count: 2
			path: src/Client.php

		-
			message: '#^Variable \$response might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Client.php
